/**
 * responsive landing page
 */

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){
  .flex-grid4 {
    grid-template-columns: 1fr 1fr !important;
  }

  .flex-grid2 {
    grid-template-columns: 1fr !important;
  }

  .payment-flex-grid2 {
    padding-top: 50px !important;
  }

  .footer-menu {
    padding-right: 60px !important;
    padding-left: 60px !important;
  }
}

@media screen and (max-width: 768px){
  .justify-footer > div {
    display: inline !important;
  }

  .hipaa-stripe {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .flex-grid3 {
    grid-template-columns: 1fr 1fr !important;
  }

  .justify-rl > div.btn-txt {
    display: inline !important;
  }
}

@media screen and (max-width: 600px){
  .whole-body-mW {
    padding: 20px 15px !important;
  }

  .payment-flex-grid2 {
    padding-top: 80px !important;
    grid-template-columns: 1fr !important;
    grid-auto-rows: auto !important;
  }

}
@media screen and (max-width: 480px) {
  .footer-menu {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  .flex-grid4, .flex-grid3 {
    grid-template-columns: 1fr !important;
    grid-auto-rows: auto !important;
  }

  .tele-img {
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 100% !important;
    text-align: center !important;
  }

}

/**
* landing page css
*/
* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  transition: all .3s ease-out;
  /**
   * Dimension
   */

  /**
   * Color
   */
  --col-heavyDark: #0CABC7;
  --col-bttonAndLink: #43CD43;
  --col-paragraphBg: #F4B41A;
  --col-lightColor: #ABF2D3;
  --col-foreGround: #F0FFF4;
  --col-darkBlue: #143D59;
  --col-light-bg: rgba(196, 196, 196, 0.21);
  --col-part-bg: linear-gradient(90deg, #00CED1 0%, #00DD92 100%);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;

  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
  min-width: 280px;
}

.whole-body-mW {
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
  max-width: 1300px;
  text-align: center;
}

/**
 * Font Size and Color
 */
.txt-bold {
  font-weight: bold;
}

.txt-italic {
  font-style: italic;
}

.txt-12 {
  font-size: 12px;
  line-height: 14px;
}

.txt-14 {
  font-size: 14px;
  line-height: 16px;
}

.txt-16 {
  font-size: 16px;
  line-height: 19px;
}

.txt-18 {
  font-size: 18px;
  line-height: 24px;
}

.txt-20 {
  font-size: 20px;
  line-height: 23px;
}

.txt-24 {
  font-size: 24px;
  line-height: 28px;
}

.txt-26 {
  font-size: 26px;
  line-height: 30px;
}

.txt-32 {
  font-size: 32px;
  line-height: 37px;
}

.txt-36 {
  font-size: 36px;
  line-height: 42px;
}

.txt-42 {
  font-size: 42px;
  line-height: 49px;
}

.txt-48 {
  font-size: 48px;
  line-height: 56px;
}

.txt-64 {
  font-size: 64px;
  line-height: 75px;
}

.col-heavyDark {
  color: var(--col-heavyDark);
}

.col-lightColor {
  color: var(--col-lightColor);
}

.col-buttonAndLink {
  color: var(--col-bttonAndLink);
}

.col-darkBlue {
  color: var(--col-darkBlue);
}

.col-paragraphBg {
  color: var(--col-paragraphBg);
}

/**
 * Header
 */
.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-header {
  position: absolute;
  left: 0;
  top: 235px;

  font-style: italic;
}

.landing-body {
  margin: 0;
}

.landing-header {
  background-color: #262626;
  height: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  opacity: 1;
}

.btn-underLine {
text-decoration: none !important;
color: white !important;
}

a {
  text-decoration: none;
}
/**
 * Footer
 */
.landing-footer {
  background-color: #000000;
  height: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  opacity: 1;
}

.justify-rl > div {
  display: flex;
  justify-content: space-between;
}

.justify-footer > div {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.flex-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 25px;
}

.flex-grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 25px;
}

.flex-grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

.mouse-cursor {
  cursor: pointer;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.align-c {
  text-align: center;
}

/**
 * Click button Array
 */

.product-btn {
  margin-right: 11px;
  padding: 15px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}

.product-btn:hover {
  color: #ffffff;
  background-color: var(--col-heavyDark);
}

.help-center-align {
  margin: 50px auto;
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  text-align: center;
}

/**
 * Common Button
 */
.btn-try-our {
  margin: 20px;
  padding: 10px 40px;
  border: 1px solid var(--col-bttonAndLink);
  border-radius: 4px;
  transition: all .15s linear;
}

.btn-request-b {
  border: 1px solid var(--col-foreGround);
}

.btn-try-our:hover {
  background-color: #fff2;
}


.payment-flex-grid2 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 57px;
}

.btn-header-common,
.btn-header-common-desc {
  margin: 0 auto;
  padding: 10px 30px;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.btn-header-common:hover {
  background-color: #0006;
}

.btn-header-common {
  background: rgba(0, 0, 0, 0.2);
}

.btn-txt {
  margin: 0 auto;
  width: 100%;
  max-width: 80%;
}

.general-flex {
  display: flex;
}

.auto-matching {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.btn-bttonAndLink {
  border: 2px solid var(--col-bttonAndLink);
  border-radius: 4px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: var(--col-bttonAndLink);
  transition: all .15s linear;
}

.btn-bttonAndLink:hover {
  color:  var(--col-bttonAndLink);
  background-color: #ffffff;
}


/**
   * CheckBox
   */
.container-event {
  display: block;
  position: relative;
  padding-top: 3px;
  padding-left: 25px;
  font-size: 0.9rem;
  color: #000000;
  cursor: pointer;
}

.container-event input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkMark {
  position: absolute;
  border: 1px solid #d9d9d9;
  top: 5px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
}

.checkMark:hover {
  border: 1px solid #1890FF;
}

.checkMark-gray {
  background-color: #e7e7f3;
}

.container-event:hover input ~ .checkMark {
  background-color: #1890FF;
}

.container-event input:checked ~ .checkMark {
  background-color: #1890FF;
}

.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-event input:checked ~ .checkMark:after {
  display: block;
}

.container-event .checkMark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(35deg);
}

.footer-menu {
  padding-right: 100px;
  padding-left: 100px;
}