/**
 * Header Component
 */
@media screen and (max-width: 1200px){
    .btn-navbar {
        margin-left: 15px !important;
    }
}
@media screen and (max-width: 992px) {
    .header-height {
        background-color: #ffffff !important;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;
    }

    .btn-navbar {
        display: none !important;
    }

    .mobile-menu {
        display: block !important;
    }

    .navbar-menu {
        display: flex !important;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {
    .tablet-shown {
        display: none !important;
    }

    .phone-shown {
        display: block !important;
    }
}

@media screen and (max-width: 480px) {
    .logo-mw {
        padding: 15px !important;
    }
}

.header-height {
    height: 90px;

}

.header-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000;
}

.logo-mw {
    padding: 13px 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

.btn-navbar {
    display: flex;
    margin-left: 20px;
    padding: 10px;
    border-radius: 4px;
}

.btn-navbar:hover {
    background: var(--col-heavyDark);
}

.bg-signUp {
    background: var(--col-heavyDark);
}

.mobile-menu {
    display: none;
}

.menu-hidden {
}

.hide {
    display: none;
}

.menu-container {
    position: absolute;
    width: 100%;
    max-width: 100%;
}

.navbar-menu {
    display: none;
    z-index: 3000;
    width: 100%;
    max-width: 100%;
    height: 80px;
    background-color: #00CED1;
}

.navbar-menu:hover {
    background-color: #1EE8DC;
}

.btn-navbar-bb {
    border-bottom: 1px solid var(--col-lightColor);
}

.tablet-shown {
    display: block;
}

.phone-shown {
    display: none;
}