/**
 * Help Article Page
 */

@media screen and (max-width: 1200px){
    .flex-grid2 {
        grid-template-columns: 4fr 1fr !important;
    }
}

@media screen and (max-width: 992px){
    .header-mt {
        padding-top: 160px !important;
        max-width: 70% !important;
    }
}

@media screen and (max-width: 768px){
    .header-mt {
        max-width: 85% !important;
    }

    .product-btn {
        margin-right: 5px !important;
    }
}

@media screen and (max-width: 600px){
    .header-mt {
        max-width: 95% !important;
    }

    .help-article-pt {
        padding-top: 30px !important;
        padding-bottom: 50px !important;
    }

    .product-btn {
        padding: 5px 5px !important;
    }
}

@media screen and (max-width: 480px){
    input {
        margin-bottom: 20px !important;
    }

    .flex-grid2 {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-auto-rows: 1fr;
        grid-column-gap: 20px;
    }

    .help-article-desc {
        padding: 30px 15px !important;
    }
}

.help-article-bgColor {
    background-color: var(--col-foreGround);
}

.help-article-bg {
    padding-bottom: 70px;
    height: auto;
    background-image: url("../img/help-article-bg.svg");
    background-size: cover;
    background-position: top 0%  center;
    background-repeat: no-repeat;
}

.header-mt {
    margin: 0 auto;
    padding-top: 90px;
    top: 90px;
    width: 100%;
    max-width: 50%;
    text-align: center;
}

input {
    padding-left: 12px;
    border: none;
    width: 100%;
    max-width: 100%;
    height: 40px;
    background-color: #ffffff;
    outline: #ffffff !important;
    transition: all .15s linear;
}

::placeholder {
    font-size: 16px;
    line-height: 22px;
}

.btn-find-help {
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    transition: all .15s linear;
}

.btn-find-help:hover {
    background-color: #0004;
}

.flex-grid2 {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 20px;
}

.help-article-pt {
    padding-top: 30px;
    padding-bottom: 50px;
}

.arrow-rl {
    padding: 0 10px;
}

.help-article-desc {
    margin-top: 31px;
    padding: 30px 43px 20px 40px;
    border: 1px solid var(--col-lightColor);
    background-color: #ffffff;
}

.help-article-p1 {
    padding-top: 14px;
    padding-bottom: 14px;
}

.help-article-p2 {
    padding-bottom: 22px;
}

.help-article-p3 {
    padding-top: 48px;
    padding-bottom: 10px;
}

.icon-l {
    padding-left: 10px;
}

.help-article-p4 {
    padding-bottom: 40px;
}

.help-article-p5 {
    margin-top: 19px;
}

.help-article-p6 {
    margin-top: 15px;
    padding: 0 15% 20px 20px;
}

.general-articles {
    padding-left: 85px;
}

.general-pt {
    padding-top: 53px;
}

.product-btn {
    margin-right: 11px;
    padding: 15px 20px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
}

.product-btn:hover {
    color: #ffffff;
    background-color: var(--col-heavyDark);
}

.help-center-align {
    margin: 50px auto;
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    text-align: center;
}

/**
 * Help Center
 */
.refix-pb {
    padding-bottom: 30px;
}

.help-center-p1 {
    padding-top: 39px;
    padding-bottom: 39px;
}

.help-center-gaps {
    grid-column-gap: 42px;
}

.help-center-p2 {
    padding-top: 30px;
}

.general-t {
    padding-top: 20px;
}

.help-need {
    padding-top: 60px;
    padding-bottom: 10px;
}

.right-place {
    padding-bottom: 50px;
}