/**
 * Landing Page CSS
 */
@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {
    .header-bg {
        background-position: right 45% !important;
    }

    .check-width {
        max-width: 90% !important;
    }
}

@media screen and (max-width: 992px){
    .btn-landing-bg {
        padding-left: 50px !important;
        max-width: 100% !important;
        justify-content: left !important;
    }

    .why-us-desc {
        max-width: 80% !important;
    }

    .online-img {
        max-width: 60% !important;
    }

    .connect-contents {
        margin-left: 40% !important;
        margin-right: 5% !important;
    }
}

@media screen and (max-width: 768px) {
    .why-us-desc {
        max-width: 100% !important;
    }

    .features-pd {
        max-width: 80% !important;
    }
}

@media screen and (max-width: 600px) {
    .online-img {
        max-width: 70% !important;
    }

    .btn-try-our {
        padding: 10px 30px !important;
    }

    .why-us-pd {
        padding: 0 20px!important;
    }

    .btn-learn-more {
        width: 100% !important;
        max-width: 100% !important;
        text-align: center !important;
    }

    .connect-contents {
        margin-left: 5% !important;
    }

    .btn-learn-features {
        display: inline !important;
        margin-top: 40px !important;
        padding: 10px !important;
        width: 100% !important;
        max-width: 100% !important;
        text-align: center !important;
    }
}

@media screen and (max-width: 480px) {
    .btn-landing-bg {
        margin: 0 auto !important;
        padding-left: 0 !important;
        max-width: 100% !important;
        justify-content: center !important;
    }

    .therapy-desc {
        left: 0 !important;
        margin: 0 auto !important;
        width: 100%;
        text-align: center !important;
    }

    .btn-trial {
        left: 20px !important;
        margin: 0 auto !important;
        width: 100% !important;
        max-width: calc(100% - 40px) !important;
        text-align: center !important;
    }

    .online-img {
        max-width: 40% !important;
    }

    .online-practice-pm {
        padding-top: 50px !important;
    }

    .online-practice-pm, .request-pm {
        display: inline !important;
    }

    .bg-buttonAndLink {
        min-height: 590px !important;
    }


}

/**
 * body
 */
.header-bg {
    height: 650px;
    min-width: 310px !important;
    background-image: url("../img/landing/bg-cover-image.svg");
    background-size: cover;
    background-position: top 0%  center;
    background-repeat: no-repeat;
}

.btn-landing-bg {
    width: 100%;
    max-width: 503px;
    height: 100%;
    max-height: 100px;

    background: rgba(0, 0, 0, 0.4);
    transition: all .15s linear;
}

.therapy-desc {
    position: absolute;
    top: 360px;
    left: 50px;
    min-width: 250px;
}

.btn-trial {
    display: flex;
    position: absolute;
    top: 408px;
    left: 50px;
    border: 2px solid var(--col-lightColor);
    border-radius: 4px;

    width: 100%;
    max-width: 240px;
    min-width: 250px;
    height: 100%;
    max-height: 48px;

    transition: all .15s linear;
}

.btn-trial:hover {
    background-color: #0002;
}

/**
 * Take your practice online
 */
.take-practice {
    padding-top: 34px;
}

.connect-before {
    padding-top: 19px;
    padding-bottom: 64px;
}

.flex-grid4 {
    grid-column-gap: 40px;
}

.take-practice-tp {
    margin: 0 auto;
    padding-top: 47px;
    max-width: 80%;
    text-align: center;
}

.online-img {
    width: 100%;
    max-width: 100%;
}

.btn-try-our {
    margin: 20px;
    padding: 10px 40px;
    border: 1px solid var(--col-bttonAndLink);
    border-radius: 4px;
    ransition: all .15s linear;
}

.try-pricing:hover {
    color: #ffffff;
    background-color: var(--col-bttonAndLink) !important;
}

.btn-request-b {
    border: 1px solid var(--col-foreGround);
}

.btn-try-our:hover {
    background-color: #fff2;
}

.online-practice-pm {
    display: flex;
    padding-top: 116px;
    padding-bottom: 39px;
}

.use-app-flex {
    display: flex;
    margin-top: 20px;
}

.general-flex {
    display: flex;
}

.bg-buttonAndLink {
    height: auto;
    background: linear-gradient(90deg, #00CED1 0%, #00DD92 100%);
}

.watch-icon-pd {
    padding-top: 47px;
    padding-bottom: 60px;
}

.request-pm {
    display: flex;
    padding-top: 17px;
    padding-bottom: 73px;
}

/**
 * Who uses this app?
 */
.use-app {
    padding-top: 40px;
    padding-bottom: 19px;
}

.app-desc {
    padding-bottom: 46px;
}

.check-width {
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
}

/**
 * circle check box
 */
.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

.round label:after {
    border: 2px solid var(--col-heavyDark);
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-50deg);
    width: 10px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #ffffff;
    border-color: var(--col-heavyDark);
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.check-flex {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.circle-pd {
    margin-left: 13px;
}

/**
 * The features you need and want
 */

.features-needs {
    padding-top: 170px;
}

.features-pd {
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 114px;
    width: 100%;
    max-width: 50%;
    text-align: center;
}

.features-img-pb {
    padding-bottom: 16px;
}

.features-icon-desc {
    padding-top: 20px;
}

.features-mb {
    margin-bottom: 104px;
}

.features-icons {
    margin: 0 auto;
    width: 100%;
    max-width: 108px;
    text-align: center;
}

.refixing-gap {
    grid-column-gap: 20px;
}

/**
 * Why US?
 */
.why-us-bg {
    padding-top: 64px;
    padding-bottom: 86px;
    height: auto;
    background-image: url("../img/landing/why-us-cover.svg");
}

.why-us-pd {
    margin: 0 auto;
    padding: 0 50px;
    width: 100%;
    max-width: 1200px;
    text-align: left;
}

.why-us-desc {
    padding-top: 20px;
    max-width: 56%;
}

.btn-learn-more {
    padding: 10px 40px;
    border: 2px solid var(--col-lightColor);
    border-radius: 4px;
    ransition: all .15s linear;
}

.btn-learn-more:hover {
    background-color: #0002;

}

.justify-left {
    display: flex;
    padding-top: 44px;
}

.connect-clients {
    height: 489px;
    width: 100%;
    background-repeat: no-repeat !important;
    background: linear-gradient(270deg, #FFFFFF 21.07%, rgba(255, 255, 255, 0) 39.28%), url('../img/landing/connect-clients-bg.svg');
}

.connect-contents {
    margin-right: 10%;
    max-width: 1200px;
    margin-left: 50%;
    line-height: 2;
}

.btn-learn-features {
    display: flex;
    margin-top: 20px;
    padding: 15px 15px;
    border-radius: 4px;
    border: 2px solid;
    background-color: var(--col-bttonAndLink);
    ransition: all .15s linear;
}

.btn-learn-features:hover {
    border: 2px solid var(--col-bttonAndLink);
    color: var(--col-bttonAndLink);
    background-color: #ffffff;
}
.connect-txt-pb {
    padding-bottom: 25px;
}

.our-customers {
    padding-top: 37px;
    padding-bottom: 104px;
    height: auto;
    background: linear-gradient(90deg, #00CED1 0%, #00DD92 100%);
}

.star-pt {
    padding-top: 17px;
    padding-bottom: 57px;
}

/**
 * Slider
 */

.owl-carousel .owl-item img {
    margin: 20px auto;
    width: 80% !important;
    text-align: center !important;
}

/**
 * arrow customize
 */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {

    background: #ffffff !important;
}

.owl-theme .owl-nav {
    padding-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
    position: relative;
    margin: 35px 15px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev
{
    position: absolute;
    margin-top: 0;
    border: none;
    padding-top: 15px;
    width: 40px;
    font-size: 40px !important;

    color: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.owl-carousel .owl-nav button.owl-prev {
    margin-top: -50px;
    left: -15px;
}

.owl-carousel .owl-nav button.owl-next {
    margin-top: -50px;
    right: -15px;
}

.owl-theme .owl-dots .owl-dot span {
    display: inline !important;
}

/**
 * Check out our pricing and sign up for our free 3-day trial
 */
.check-trial-bg {
    padding-top: 40px;
    padding-bottom: 38px;
    height: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../img/landing/check-trial-bg.svg');
}

.offer-plan {
    padding-top: 20px;
}

.btn-start {
    padding: 15px 40px;
    ransition: all .15s linear;
}